<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <!--  Bootstrap for Rails - form changes -->
  
  <!--  wrapped all the labels and their respective form elements
        inside a .form-group element. For each label, I have added a for attribute
        with the value as the ID of its correponding form element. For each
        text field, I have added a class as .form-control and an ID attribute with
        a unique ID value. 
        The for attribute specifies which form element a label is bound to.
        -->
        
  <!--  was class='field' -->                 
  <div class="form-group">
    <!-- < %= f.label :name %><br> -->           
    <%= f.label :name, :for=>"nameField" %><br>
    <!-- < %= f.text_field :name %><br> -->
    <%= f.text_field :name, :class=>"form-control", :id=>"nameField" %>                           
  </div>
  <div class="form-group">
    <%= f.label :featImage, :for=>"imgField" %><br>
    <%= f.text_field :featImage, :class=>"form-control", :id=>"imgField" %>
  </div>
  <div class="form-group">
    <%= f.label :description, :for=>"descField" %><br>
    <%= f.text_area :description, :class=>"form-control", :id=>"descField" %>
  </div>
  <div class="form-group">
    <%= f.label :price, :for=>"priceField" %><br>
    <%= f.text_field :price, :class=>"form-control", :id=>"priceField" %>
  </div>
  <ul class="list-inline">
    <li><%= f.submit  'Create', :class=>"btn btn-success" %></li>
    <li><%= button_tag "Reset", type: :reset, :class=>"btn btn-default" %></li>
  </ul>
<% end %>
